Crap_thats_not_part_of_my_page/Joiner_rnc_1/Schema2.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = root
root = element root {introductions?, paragraph?, person?, date?, place?}
introductions = element introductions {text}
paragraph = element paragraph {mixed {(person | place | date)*}}
person = element person {female, text}
female = attribute female { "1" | "2" | "3" } # drl:  or xsd:integer
place = element place {text}
date = element date {day?, text}
day = attribute day {xsd:date}


